html, #team {
  background: #ffffb3;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#team h1 {
  padding-top: 50px;
}

.card {
  margin: 10px 10px;
}
  
/* Flip Cards CSS */
.card-container {
  display: grid;
  perspective: 700px;
}
  
.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}
  
.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
  
.front {
  grid-area: frontAndBack;
}
  
.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}
  
.card-container:hover .card-flip {
  transform: rotateY(180deg);
}  
  
.img-fluid {
  height: 40vh;
}

.fab, .far {
  font-size: 30px;
  margin-right: 20px;
}